html, body{
	font: 14px/16px Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.image{
	padding-top: 10%;
	opacity: 0.5;
	height: 100%;
	width: 100%;
	background-image: url("../images/background_map.png");
	background-repeat: no-repeat;
}

.menu{
	width: 35%;
	margin: auto;
    padding: 6px;
    background-color: black;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    opacity: 1 !important;
}

.menu button{
	cursor: pointer;
	width: 100%;
	height: 5em;
	margin-top: 1em;
	font-size: 100%;
	border: 5px solid black;
	border-radius: 10px;
}